.money {
  display: flex;
  /* margin: auto; */
  /* padding-top: 20px; */
  /* text-align: center; */
  height: 100vh;
}

.overview {
  flex: 0.35;
  /* background: rebeccapurple; */
  padding: 20px;
  /* width: 100%; */
}

.report {
  flex: 0.4;
  padding: 20px;
  /* background: palevioletred; */
}

.form {
  flex: 0.35;
  padding: 20px;
  align-items: center;
  /* background: purple; */
}

.Table {
  overflow-y: scroll !important;
  height: 49% !important;
  padding: 10px 10px 8px 8px;
}