.todos {
    width: 30%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    height: 100vh;
  }

.TextField {
    display: flex;
}

.todoForm{
  margin-bottom: 20px;
  padding:20px
}

.todoField{
  display: flex;
}

.addButton {
  height: 50px !important;
  border-radius: 60px !important;
}

.CardViewAdder {
  border-radius: 10px !important;
}